<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mars!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
            .margin{margin: 50px;}
        </style>
    </head>

    <body>
        <div class="container text-center">
            <h1 class="jumbotron">Mission to Mars<br><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></h1>
        </div>

        <!-- Latest news -->
        <div class="row margin">
            <div class="col-md-12">
                <h1>Latest Mars News</h1>
              <h4 class="heading">NASA's Mars 2020 Heads Into the Test Chamber</h4>
              <small>In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.</small>
            </div>
        </div>

        <!-- Featured Image and Table -->
        <div class="row margin">
            <div class="col-md-8">
            <h1>Featured Image</h1>
            <img src="https://spaceimages-mars.com/image/featured/mars2.jpg" alt="featured mars image">
            </div>
            <div class="col-md-4">
                <table border="1" class="dataframe">
                    <thead>
                        <h2>Mars Facts</h2>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Description</th>
                        <td>Mars</td>
                        <td>Earth</td>
                      </tr>
                      <tr>
                        <td>Diameter:</td>
                        <td>6,779 km</td>
                        <td>12,742 km</td>
                      </tr>
                      <tr>
                        <td>Mass:</td>
                        <td>6.39 x 10^23 kg</td>
                        <td>5.97 x 10^24 kg</td>
                      </tr>
                      <tr>
                        <td>Moons:</td>
                        <td>2</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Distance from Sun:</td>
                        <td>227,943,824 km</td>
                        <td>149,598,262 km</td>
                      </tr>
                      <tr>
                        <td>Length of Year:</td>
                        <td>687 Earth days</td>
                        <td>365.24 days</td>
                      </tr>
                      <tr>
                        <td>Temperature:</td>
                        <td>-87 to -5 °C</td>
                        <td>-88 to 58°C</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        <h1 style = "text-align: center;">Mars Hemispheres</h1>
        <!-- Mars hemisphere images -->
        <div class="row margin">


          <div class="card" style="width:600px">
              <img src="https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg" alt="syrtis_major_enhanced">
              <div class="card-body">
                <h4 class="card-title">Mars: Syrtis Major Hemisphere</h4>
              </div>
          </div>

          <div class="card" style="width:600px">
            <img class="card-img-top" src="https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg" alt="schiaparelli_enhanced">
            <div class="card-body">
              <h4 class="card-title">Mars: Schiaparelli Hemisphere</h4>
            </div>
          </div>

          <div class="card" style="width:600px">
            <img class="card-img-top" src="https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg" alt="valles_marineris_enhanced">
            <div class="card-body">
              <h4 class="card-title">Mars: Valles Marineris Hemisphere</h4>
            </div>
          </div>

          <div class="card" style="width:600px">
            <img class="card-img-top" src="https://marshemispheres.com/images/full.jpg" alt="cerberus_enhanced">
            <div class="card-body">
              <h4 class="card-title">Mars: Cerberus Hemisphere</h4>
            </div>
          </div>
        
        </div>

    </body>

</html>
